@model RedefinirSenhaModel
@{
    Layout = "_LayoutDeslogado";
    ViewData["Title"] = "Redefinir Senha";
}
@if (TempData["MensagemErro"] != null)
{
    <div class="alert alert-danger" role="alert">
        <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
        @TempData["MensagemErro"]
    </div>
}

<form asp-controller="Login" asp-action="EnviarLinkParaRedefinirSenha" method="post">
    <div class="mb-3">
        <label for="loginRedefinir" class="form-label">Login</label>
        <input type="text" asp-for="Login" class="form-control" id="loginRedefinir">
        @Html.ValidationMessageFor(x => x.Login)
    </div>
    <div class="mb-3">
        <label for="emailRedefinir" class="form-label">Email</label>
        <input type="text" asp-for="Email" class="form-control" id="emailRedefinir">
        @Html.ValidationMessageFor(x => x.Email)
    </div>
    <div class="d-grid gap-2">
        <button type="submit" class="btn btn-primary">Redefinir Senha</button>
        <a class="btn btn-secondary btn-block" asp-controller="Login" asp-action="Index" role="button">Voltar</a>
    </div>
</form>